<!DOCTYPE html>
<html>
<head>
    <title>StreamDeck Configuration</title>
</head>
<body>
    <h1>StreamDeck Configuration</h1>
    <h2>Device Information</h2>
    <p>Model: {{ device['model'] }}</p>
    <p>Serial Number: {{ device['serial_number'] }}</p>

    <h2>Styles</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Background Color</th>
            <th>Text Color</th>
            <th>Highlight Background Color</th>
            <th>Highlight Text Color</th>
            <th>Actions</th>
        </tr>
        {% for style in styles %}
        <tr>
            <td>{{ style['name'] }}</td>
            <td>{{ style['bg_color'] }}</td>
            <td>{{ style['text_color'] }}</td>
            <td>{{ style['highlight_bg_color'] }}</td>
            <td>{{ style['highlight_text_color'] }}</td>
            <td>
                <a href="{{ url_for('edit_style', id=style['id']) }}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('add_style') }}">Add Style</a>

    <h2>Button Configurations</h2>
    <table>
        <tr>
            <th>Key</th>
            <th>Text</th>
            <th>Style</th>
            <th>Long Press Ack Style</th>
            <th>Short Press</th>
            <th>Long Press</th>
            <th>Ack Action</th>
        </tr>
        {% for button_config in button_configs %}
        <tr>
            <td>{{ button_config['key'] }}</td>
            <td>{{ button_config['text'] }}</td>
            <td>{{ button_config['style'] }}</td>
            <td>{{ button_config['long_press_ack_style'] }}</td>
            <td>{{ button_config['short_press'] }}</td>
            <td>{{ button_config['long_press'] }}</td>
            <td>{{ button_config['ack_action'] }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Parameters</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        {% for parameter in parameters %}
        <tr>
            <td>{{ parameter['name'] }}</td>
            <td>{{ parameter['value'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>