<!doctype html>
<html>
<head>
    <title>StreamDeck Configurations</title>
</head>
<body>
    <h1>Styles</h1>
    <ul>
        {% for style in styles %}
            <li>{{ style.name }}: {{ style.bg_color }}, {{ style.text_color }}, {{ style.font_path }}, {{ style.font_size }}, {{ style.highlight_bg_color }}, {{ style.highlight_text_color }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_style') }}">Add Style</a>

    <h1>Button Configurations</h1>
    <ul>
        {% for button_config in button_configs %}
            <li><a href="{{ url_for('edit_button_config', key=button_config.key) }}">Key {{ button_config.key }}</a>: {{ button_config.text }} (Style: {{ button_config.style }})</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_button_config') }}">Add Button Configuration</a>
</body>
</html>